.dropdown {
    position: relative;
    margin-top: 0px;
    width: 130px;
    height: 50px;
}

.dropdown::before {
    content: '';
    position: absolute;
    right: 10%;
    top: 23px;
    z-index: 9999;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;

}

.dropdown.active::before {
    transform: rotate(-225deg);
    top: 22px;
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    /* max-width: 50%; */
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #000000;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .option {
    position: absolute;
    top: 70px;
    width: 140%;
    background: #000000;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .option {
    display: block;
}

.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option div:hover {
    background: #62baea;
    color: #ffffff;
}
